.text-primary {
    color: #bd5d38;
}

.main-icon-color {
    background-color: #495057;
}

.telegram-color {
    background-color: #497495 !important;
}

.github-color {
    background-color: #010409 !important;
}

.vk-color {
    background-color: #0077ff !important;
}

.email-color {
    background-color: #c14438 !important;
}