.text-primary {
    color: #bd5d38;
}

#main-icon {
    background-color: #495057;
}

#telegram {
    background-color: #497495;
}

#telegram:hover {
    background-color: #497495d7;
}

#github {
    background-color: #010409;
}

#github:hover {
    background-color: #010409d7;
}

#vk {
    background-color: #0077ff;
}

#vk:hover {
    background-color: #0077ffd7;
}

#email {
    background-color: #c14438;
}

#email:hover {
    background-color: #c14338d7;
}